{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <form class="form-horizontal" name="student-form" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group col-sm-3 mb-3">
                    {{ form.name.label(class = "form-label") }}
                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                    {{ form.name(class = "form-control", placeholder="Enter name", required = "False") }}
                    {% if form.name.errors %}
                    <ul class = "errors">
                        {% for error in form.name.errors %}
                        <li class = "alert text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.surname.label(class = "form-label") }}
                    {{ form.surname(class = "form-control", placeholder="Enter surname", required = "False") }}
                    {% if form.surname.errors %}
                    <ul class = "errors">
                        {% for error in form.surname.errors %}
                        <li class = "alert text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.email.label(class = "form-label") }}
                    {{ form.email(class = "form-control", placeholder="Enter email", required = "False") }}
                    {% if form.email.errors %}
                    <ul class = "errors">
                        {% for error in form.email.errors %}
                        <li class = "alert text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {{ form.submit(class = "btn btn-primary btn-submit-custom") }}
            </form>
    </div>
    </div>
</div>
{% endblock content %}
