{% extends "global_layout.html" %}
{% block content %}
<div class="container" id="row-container">
    <div class = "alert-custom col-md-12">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message | safe }}
                    <button type = "button" class = "btn-close" data-bs-dismiss = "alert" aria-label = "Close"></button>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="row" id="row">
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Students</h4>
                    <p class="card-text" id="paragraph">Simple Query to database to show all students</p>
                    <a class="btn btn-primary" id="show-btn" href="/students">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">View Grades</h4>
                    <p class="card-text" id="paragraph">Simple Query to database to show students' grades<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/grades">Show</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Create Student</h4>
                    <p class="card-text" id="paragraph">Enter a new student into the database<br></p>
                    <a class="btn btn-primary" id="show-btn" href="/student-creation-page">Create</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="row-2">
        <div class="col-md-6">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Best Dribbling Grade</h4>
                    <p class="card-text" id="paragraph">The best Dribbling grade is {{best_dribbling_grade}} and belongs to {{best_dribbler}}.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Best Shooting Grade</h4>
                    <p class="card-text" id="paragraph">The best Shooting grade is {{best_shooting_grade}} and belongs to {{best_shooter}}.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
