{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                {% if students|length == 0 %}
                    <h1 style="margin-top: 5rem;">No Students found!</h1>
                {% else %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Email</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in students %}
                                    <tr>
                                        <td> {{ student.id }} </td>
                                        <td> {{ student.name }} </td>
                                        <td> {{ student.surname }} </td>
                                        <td> {{ student.email }} </td>
                                        <td>
                                            <a type="button" onclick="setModalFields(this)"
                                            data-toggle="modal" data-id="{{ student.id }}"
                                            data-name="{{student.name}}"  data-surname= "{{student.surname}}"
                                            data-email="{{student.email}}" data-bs-toggle = "modal"
                                            data-bs-target="#editModal">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Student</h4>
            </div>
            <div class="modal-body">
                <form id="modal-form">
                    <div style="text-align: center;">
                        <input type="text" name="id" id="id" readonly>
                        <input type="text" name="name" id="name">
                        <input type="text" name="surname" id="surname">
                        <input type="text" name="email" id="email">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="modal-form" class="btn btn-success">Update</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>
    function setModalFields(row) {
        document.getElementById("id").value = row.getAttribute("data-id");
        document.getElementById("name").value = row.getAttribute("data-name");
        document.getElementById("surname").value = row.getAttribute("data-surname");
        document.getElementById("email").value = row.getAttribute("data-email");
        document.getElementById("modal-form").action = "/students/update/" + row.getAttribute("data-id");
        document.getElementById("modal-form").method = "POST";
    }
</script>
<!--
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script>
    $(document).ready(function() {
        toastr.options = {
            "closeButton": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false
        };
        /* In order to access variables sent to ejs file to script you must Parse them to string */
        /* then to parse them back to JSON */
        let messages = 'JSON.stringify(messages)';
        messages = JSON.parse(messages);
        messages.forEach(({
            type,
            value
        }) => {
            switch (type) {
                case 'error':
                    toastr.error(value)
                    break;
                case 'success':
                    toastr.success(value)
                    break;
                case 'warning':
                    toastr.warning(value)
                    break;
                default:
                    toastr.info(value)
                    break;
            }
        });
    })
</script>
-->
{% endblock content %}
