{% extends "global_layout.html" %}
{% block content %}
<div class="container" id="row-container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-6">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Students</h4>
                    <p class="card-text paragraph-custom">
                        Simple query to database to show all students, or enter a new student into the database
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/students">Show</a>
                    <a class="btn btn-primary btn-submit-custom" href="/students/create">Create</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Grades</h4>
                    <p class="card-text">
                        Simple Query to database to show students' grades, or Enter a new grade into the database
                    </p>
                    <a class="btn btn-primary btn-submit-custom" href="/grades">Show</a>
                    <a class="btn btn-primary btn-submit-custom" href="/grades/create">Create</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="row-2">
        <div class="col-md-6">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Best Dribbling Grade</h4>
                    <p class="card-text" id="paragraph">The best Dribbling grade is {{best_dribbling_grade}} and belongs to {{best_dribbler}}.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Best Shooting Grade</h4>
                    <p class="card-text" id="paragraph">The best Shooting grade is {{best_shooting_grade}} and belongs to {{best_shooter}}.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
