{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <div class="card" id="card-container">
                <div class="card-body" id="card">
                {% if students|length == 0 %}
                    <h1 style="margin-top: 5rem;">No Students found!</h1>
                {% else %}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th>Email</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in students %}
                                    <tr>
                                        <td> {{ student.id }} </td>
                                        <td> {{ student.first_name }} </td>
                                        <td> {{ student.last_name }} </td>
                                        <td> {{ student.email }} </td>
                                        <td>
                                            <a type="button" onclick="setModalFields(this)"
                                            data-toggle="modal" data-id="{{ student.id }}"
                                            data-first_name="{{student.first_name}}"  data-last_name= "{{student.last_name}}"
                                            data-email="{{student.email}}" data-bs-toggle = "modal"
                                            data-bs-target="#editModal">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <button style = "all: unset; cursor: pointer;" type = "button"
                                            data-bs-toggle = "modal" data-bs-target = "#deleteModal"
                                            data-id = "{{ student.id }}" onclick = "setDeleteModalFields(this)">
                                                <i class = "fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit modal -->
<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Student</h4>
            </div>
            <div class="modal-body">
                <form id="modal-form">
                    {{ form.hidden_tag() }}
                    <div style="text-align: center;">
                        <input type="text" name="id" id="id" readonly>
                        <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                        {{ form.first_name(id = "first_name", required = False) }}
                        {{ form.last_name(id = "last_name", required = False) }}
                        {{ form.email(id = "email", required = False) }}
                    </div>
                    <div>
                        {% if form.first_name.errors %}
                        <ul class = "errors">
                            {% for error in form.first_name.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.last_name.errors %}
                        <ul class = "errors">
                            {% for error in form.last_name.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% if form.email.errors %}
                        <ul class = "errors">
                            {% for error in form.email.errors %}
                            <li class = "alert text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                {{ form.submit(class = "btn btn btn-success", form = "modal-form", value = "Update") }}
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Delete modal -->
<div class = "modal fade" id="deleteModal">
    <div class = "modal-dialog">
        <div class = "modal-content">
            <div class = "modal-header">
                <h5 class = "modal-title" id = "deleteModalLabel">Delete student</h5>
                <button type = "button" class = "btn-close" data-bs-dismiss = "modal" aria-label = "Close"></button>
            </div>
            <div class = "modal-body">
                All associated grades will be deleted too. Are you sure?
            </div>
            <div class = "modal-footer">
                <button type = "button" class = "btn btn-secondary" data-bs-dismiss = "modal">Close</button>
                <form id = "delete-modal-form">
                    <input type = "submit" class = "btn btn-danger" value = "Delete">
                </form>
            </div>
        </div>
    </div>
</div>

<script>

</script>

<script>
    function setModalFields(row) {
        document.getElementById("id").value = row.getAttribute("data-id");
        document.getElementById("first_name").value = row.getAttribute("data-first_name");
        document.getElementById("last_name").value = row.getAttribute("data-last_name");
        document.getElementById("email").value = row.getAttribute("data-email");
        document.getElementById("modal-form").action = "/students/update/" + row.getAttribute("data-id");
        document.getElementById("modal-form").method = "POST";
        // document.getElementById("submit").addEventListener("click", (e) => {e.preventDefault();});
        // commented line above would prevent the default behavior of the submit button, that is, sending the
        // form data with a post request to the determined address and subsequently closing the pop-up
    }

    function setDeleteModalFields(row) {
        document.getElementById("delete-modal-form").action = "/students/delete/" + row.getAttribute("data-id");
        document.getElementById("delete-modal-form").method = "POST";
    }
</script>
{% endblock content %}
